form ion-input {
    width: 200px;
    --margin-bottom: 10px;
}

form ion-icon {
    font-size: 20px;
    margin-right: 10px;
    color: var(--home-icon-color, #3171e0);
}

form ion-item {
    border-bottom: 1px solid var(--home-icon-color, #3171e0);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form a {
    text-decoration: none;
}

p {
    font-size: 9pt;
}

#signIn {
    width: var(--home-button-width, 105px);
    height: var(--home-button-height, 30px);
    --background: #00e14b;
    --border-radius: 0;
    font-size: 9pt;
}

#signUp {
    width: var(--home-button-width, 105px);
    height: var(--home-button-height, 30px);
    --background: #667B97;
    --border-radius: 0;
    font-size: 9pt;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-logo {
    margin: 42px 0px 25px 0px;
}

.form-input_icons {
    display: flex;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}