// *{
//     --highlight-color-focused: none;
//     --border-color: #3a7fe3;
// }
form {
    height: 50%;
}

form ion-icon {
    font-size: 20px;
    margin-right: 10px;
    color:  #3a7fe3;
}

form ion-input {
    
    width: 60%;
    --margin-bottom: 10px;
    border-bottom: 0;
    --border-color: #3a7fe3;
    
    
}

form ion-button {
    width: 35vh;
    height: 5.5vh;
    --border-radius: 3px;
    font-size: 9pt;
}

form ion-item {
    // border-bottom: 1px solid #3a7fe3;
    --border-color: #3a7fe3;
    --highlight-color-focused: none;

}

form a {
    text-decoration: none;
}

p {
    font-size: 2vh;
}

.page-button_signIn {
    --background: #00e14b;
}

.page-button_signUp {
    --background: #667B97;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 30px;
}

.page-logo {
    margin-bottom: 3%; // ask about margins! Костыли или нет?
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input_icons {
    display: flex;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 40vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

// @media only screen and (min-width : 1224px) {
// .page-logo {
//     margin-bottom: 3%;
//     margin-top: 7%;
    
//     display: flex;
//     justify-content: center;
// }




// form ion-button {
//     // width: 190px;
//     // height: 40px;
//     --border-radius: 5px;
//     font-size: 12pt;
// }

    // p {
    //     font-size: 12pt;
    // }
// }

// IPHONE!!!
// @media only screen and (min-width : 375px) and (min-width : 812px) {
//     .page-logo {
//         margin-bottom: 7%;
//         margin-top: 20%;
//         display: flex;
//         justify-content: center;

//     }

//     form ion-button {
//         width: 200px;
//         height: 40px;
//         --border-radius: 5px;
//         font-size: 10pt;
//     }

//     p {
//         font-size: 12pt;
//     }
// }

// @media only screen and (min-width : 375px) and (max-width : 812px) {  //What media quaries i need to use? 3 part!
//     .page-logo {
//         margin-bottom: 7%;
//         margin-top: 20%;
//         display: flex;
//         justify-content: center;

//     }

//     form ion-button {
//         width: 200px;
//         height: 40px;
//         --border-radius: 5px;
//         font-size: 10pt;
//     }

//     p {
//         font-size: 12pt;
//     }
// }
